@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

:root{
    --blue-dark-color:#1E4364;
    --blue-medium-color:#2970CA;
    --blue-light:#D5E3FF;
    --green-light-color:#C4EDB2;
    --coral-color:#FAC0BD;
    --dark-color:#191919;
    --white-color:#FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:spongebob;
    src: url(../img/SpongeBob.ttf);
}

html{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-height: 100%;
    color: var(--dark-color);
}

h1, h2, h3{
    font-family: 'Aleo', serif;
    color: var(--blue-medium-color);
    text-align: center;
}

p{
    text-align: justify;
}

header{
    grid-area: header;
    background-color: var(--blue-dark-color);
    color: var(--white-color);
}

#banner{
    grid-area: banner;
}

#adoption{
    grid-area: adoption;
    padding: 5px;
}

#requirement{
    grid-area: requirement;
    padding: 10px;
}

footer{
    grid-area: footer;
    background-color: #183650;
}

.container-grid{
    display: grid;
    grid-template:"header" 100px
                  "banner" auto
                  "adoption" auto
                  "requirement" auto
                  "footer"  250px;
    text-align: center;
}

#adoption h1{
    margin-bottom: 12px;
}

#adoption p{
    margin: 20px;
}

#banner img{
    width: 100%;
}

button{
    background-color: var(--blue-medium-color);
    color: var(--white-color);
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
}

.buttons-adoption{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0;
    border-top: 2px dashed var(--blue-medium-color);
    border-bottom: 2px dashed var(--blue-medium-color);
}

.image-galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--dark-color);
}

.image-galery{
    height: 70%;
}

.pet{
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    width: 45%;
    margin-left: 10px;
    height: 270px;
}

.galery-adoption{
    display: flex;
}

.info-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-hero img{
    width: 100%;
    margin: 10px 0;
}

#requirement h1{
    margin: 10px 0;
}

.list-requirement ul{
    margin-left: 40px;
    list-style-image: url(../img/item-huella.svg);
}

footer{
    padding: 10px;
    color: var(--white-color);
    font-size: 12px;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 50% 50%;
    grid-template-areas:"info-footer loyal-text" 
                        "info-footer social-media"
}

footer > .info-footer {
    grid-area: info-footer;
  }
  
footer > .loyal-text {
    grid-area: loyal-text;
  }
  
footer > .social-media {
    grid-area: social-media;
  }


.info-footer{
    border-right: 1px solid var(--white-color);
}

.info-footer div{
    margin: 2px 0;
}

.info{
    display: flex;
}

.info img{
    margin-right: 5px;
    width: 24px;
}

.loyal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
}

.loyal-text p{
    text-align: center;
}

.social-media{
    padding: 5px;
    margin-left: 5px;
    text-align: center;
    border-top: 1px solid var(--white-color);
}

.social-media p{
    text-align: center;
}

.social-media div{
    display: flex;
    justify-content: space-around;
}


/*Kirara--------------------*/
.bton-folder{
    text-align: center;
}

.btn1, .btn2{
    border-radius: 10px 10px 0 0 ;
    padding: 5px 20px 10px;
    margin-bottom: -2px;
    font-size: 16px;
}

.btn2{
    background-color: var(--blue-dark-color);
}

#pet{
    text-align: center;
    padding: 10px;
}

.kirara{
    border-radius: 10px;
    height: 350px;
}

.info-pet{
    background-color: var(--blue-medium-color);
    border-radius: 10px;
}

.folder-pet{
    background-color: var(--blue-light);
    margin: 20px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    text-align: left;
}

.galery-pet img{
    border-radius: 10px;
}

.cat-bton{
    display: flex;
    justify-content: center;
}

.bton-cat{
    display: flex;
    width: 300px;
    height: 60px;
    font-size: 20px;
    font-family: 'Aleo', serif;
    border-radius: 0;
    box-shadow: 2px 2px 4px var(--dark-color);
}

#pet a{
    text-decoration: none;
}

.bton-cat img{
    height: 85px;
    margin-top: -20px;
}

.step1 h2, .step2 h2{
    margin: 30px 0 15px;
}

#adoption-process h3{
    color: var(--dark-color);
    text-align: left;
    margin: 20px 0 15px;
}

#adoption-process ul{
    text-align: left;
    list-style-image: url(../img/item-huella.svg);
    margin-left: 40PX;
}

.step1 img{
    margin-bottom: 20px;
}

.huellas-step2{
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-group input{
    width: 100%;
    border-radius: 5px;
    background-color: var(--blue-light);
    border: 1px solid var(--blue-medium-color);
    box-shadow: 2px 2px 2px gray;
    height: 30px;
    margin: 5px 0;
}

.form-group ::placeholder{
    color: #1e4364be;
}

.btn-enviar button{
    background-color: var(--blue-dark-color);
    border-radius: 10px;
    border: 4px solid var(--blue-light);
    font-family: 'Aleo', serif;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 20px;
}

.btn-enviar{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn-enviar i{
    border-radius: 50%;
    padding: 5px;
    border: 4px solid var(--blue-light);
    font-size: 20px;
    background-color: var(--blue-dark-color);
    color: var(--white-color);
    margin-right: -25px;
    z-index: 2;
}
