@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-dark-color: #1B3C5A;
    --blue-medium-color:#2970CA;
    --blue-light:#D5E3FF;
    --green-light-color:#C4EDB2;
    --coral-color:#FAC0BD;
    --dark-color:#191919;
    --white-color:#FFFFFF;
    --aleo-font: "Aleo", serif;
    --poppins-font: "Poppins", sans-serif;
    --Degrade-nav-menu-color: linear-gradient(180deg, rgba(7, 36, 62, 0.9) 32.33%, rgba(42, 95, 145, 0.9) 92.71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins-font);
}

header {
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/img-adopcion/adopcion/header-backgrond.png);
    position: fixed;
    top: 0;
    z-index: 1;
}

main {
    margin-top: 100px;
}


/*Estilos heder*/
.logo-text-heder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-nav {
    width: 35%;
    margin-right: 20px;
}

.text-logo-heder {
    font-family: var(--aleo-font);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.bar-btn {
    font-size: 25px;
    color: var(--white-color);
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: var(--Degrade-nav-menu-color);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 3rem;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #09ff00;
    transition: .3s;
    text-shadow: 1px 1px 10px #09ff00;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


/*responsive tablets*/
@media screen and (min-width: 870px) {

    nav {
        flex-direction: row;
    }

    #index-banner {
        display: none;
    }



    /*responsive navbar*/
    .logo-nav {
        width: 35%;
        margin-left: 20px;
    }

    .bar-btn {
        margin-right: 20px;
    }
}

/*responsive desktop*/

@media screen and (min-width: 950px) {

    /*responsive Pc navbar*/
    nav {
        height: 100px;
        flex-direction: row;

    }

    .logo-nav {
        margin-left: 50px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 1rem;
        backdrop-filter: blur(0px);
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a {
        font-size: 1rem;
    }
}

html{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    min-height: 100%;
    color: var(--dark-color);
}

h1, h2, h3{
    font-family: 'Aleo', serif;
    color: var(--blue-medium-color);
    text-align: center;
}

p{
    text-align: justify;
}

#adoption h1{
    margin-bottom: 12px;
}

#adoption p{
    margin: 20px;
}

#adoption-banner img{
    width: 100%;
}

#main-adoption{
    padding: 0;
}

button{
    background-color: var(--blue-medium-color);
    color: var(--white-color);
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
}

.adoption-buttons{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0;
    border-top: 2px dashed var(--blue-medium-color);
    border-bottom: 2px dashed var(--blue-medium-color);
}

.image-galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--dark-color);
}

.image-galery{
    height: 70%;
}

.adoption-galery{
    display: grid;
    row-gap: 15px;
    grid-template-columns: 50% 50% 50% 50%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type:mandatory;
}

.pet{
    border: 1px solid var(--dark-color);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    height: 270px;
    background-color: #09ff00;
}

.info-pet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-hero img{
    width: 100%;
    margin: 10px 0;
}

#adoption-requirement{
    padding: 10px;
}

#adoption-requirement h1{
    margin: 10px 0;
}

.list-requirement{
    background: url(../../assets/img-adopcion/adopcion/huella-rosa.svg) no-repeat;
    background-size: cover;
}

.list-requirement ul{
    text-align: left;
    margin-left: 40px;
    list-style-image: url(../../assets/img-adopcion/adopcion/item-huella.svg);
}

footer{
    width: 100%;
    background-color: var(--blue-dark-color);
    padding: 10px;
    color: var(--white-color);
    font-size: 12px;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 50% 50%;
    grid-template-areas:"info-footer loyal-text" 
                        "info-footer social-media"
}

footer > .info-footer {
    grid-area: info-footer;
  }
  
footer > .loyal-text {
    grid-area: loyal-text;
  }
  
footer > .social-media {
    grid-area: social-media;
  }


.info-footer{
    border-right: 1px solid var(--white-color);
}

.info-footer .info{
    margin: 2px 0;
}

.info{
    width: 100%;
    display: flex;
}

.info img{
    margin-right: 10px;
    width: 24px;
}

.loyal-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
}

.loyal-text p{
    text-align: center;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    text-align: center;
    border-top: 1px solid var(--white-color);
    padding: 0 5px;
}

.social-media p{
    text-align: center;
}

.social-media div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-media img{
    margin:0 5px
}



/*Kirara--------------------*/

#adoption-kirara{
    display: grid;
    grid-template:"header" 80px
                  "main" auto
                  "footer" auto;
}

.bton-folder{
    text-align: center;
}

.btn1, .btn2{
    border-radius: 10px 10px 0 0 ;
    padding: 5px 20px 10px;
    margin-bottom: -2px;
    font-size: 16px;
}

.btn2{
    background-color: var(--blue-dark-color);
}

#pet{
    text-align: center;
    padding: 10px;
}

.kirara{
    border-radius: 10px;
    height: 350px;
}

.info-mascota{
    background-color: var(--blue-medium-color);
    border-radius: 10px;
}

.folder-pet{
    background-color: var(--blue-light);
    margin: 20px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    text-align: left;
}

.galery-pet img{
    border-radius: 10px;
}

.cat-bton{
    display: flex;
    justify-content: center;
}

.bton-cat{
    display: flex;
    width: 300px;
    height: 60px;
    font-size: 20px;
    font-family: 'Aleo', serif;
    border-radius: 0;
    box-shadow: 2px 2px 4px var(--dark-color);
}

#pet a{
    text-decoration: none;
}

.bton-cat img{
    height: 85px;
    margin-top: -20px;
}

.step1 h2, .step2 h2{
    margin: 30px 0 15px;
}

#adoption-process h3{
    color: var(--dark-color);
    text-align: left;
    margin: 20px 0 15px;
}

#adoption-process ul{
    text-align: left;
    list-style-image: url(../img/item-huella.svg);
    margin-left: 40PX;
}

.step1 img{
    margin-bottom: 20px;
}

.huellas-step2{
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-group input{
    width: 100%;
    border-radius: 5px;
    background-color: var(--blue-light);
    border: 1px solid var(--blue-medium-color);
    box-shadow: 2px 2px 2px gray;
    height: 30px;
    margin: 5px 0;
}

.form-group ::placeholder{
    color: #1e4364be;
}

.btn-enviar button{
    background-color: var(--blue-dark-color);
    border-radius: 10px;
    border: 4px solid var(--blue-light);
    font-family: 'Aleo', serif;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 20px;
}

.btn-enviar{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn-enviar i{
    border-radius: 50%;
    padding: 5px;
    border: 4px solid var(--blue-light);
    font-size: 20px;
    background-color: var(--blue-dark-color);
    color: var(--white-color);
    margin-right: -25px;
    z-index: 2;
}



/*Formulario--------------------------------*/

#adoption-formulary{
    display: grid;
    grid-template:"header" 80px
                  "main" auto
                  "footer" auto;
}
main{
    padding: 5px;
}

#main-adoption-form{
    width: 100%;
}

#adoption-form{
    border: 3px solid var(--blue-light);
    padding: 5px;
    width: 100%;
}

#adoption-form textarea{
    width: 100%;
    background-color: var(--blue-light);
    border: 1.4px solid #8caef1;
}

#adoption-form table{
    width: 100%;
}

#adoption-form table tr{
    background-color:var(--blue-light);
    border-left: none;
}

#adoption-form table thead tr{
    background-color:var(--white-color);
    border-left: none;
}

#adoption-form table td{
    padding: 5px 5px;
    text-align: center;
}

#adoption-form table th{
    padding: 5px 5px 5px 10px;
    text-align: left;
}

#adoption-form p{
    margin: 10px 0 5px;
    width: 100%;
}

.adoption-form-group{
    width: 75px;
    margin: 0 auto;
    padding: 0 5px;
}





@media screen and (min-width: 768px){


    /*Adopción-----------------------*/

    .adoption-galery{
        row-gap: 15px;
        grid-template-columns: 25% 25% 25% 25%;
        overflow: hidden;
        overflow-x: hidden;
        scroll-snap-type:none;
    }
    
    .pet{
        border: 1px solid var(--dark-color);
        border-radius: 10px;
        width: 90%;
        margin: auto;
        height: 270px;
        background-color: pink;
    }

    .img-hero img{
        width: 40%;
        float: left;
        margin: 10px 42px 0 0;
    }
    
    #adoption-requirement{
        background-color: #09ff00;
        padding: 10px;
    }

    
    #adoption-requirement h1{
        margin: 10px 0;
    }
    
    .list-requirement{
        background: url(../../assets/img-adopcion/adopcion/huella-rosa.svg) no-repeat;
        background-size: cover;
    }
    
    .list-requirement ul{
        text-align: left;
        margin-left: 40px;
        list-style-image: url(../../assets/img-adopcion/adopcion/item-huella.svg);
    }

    /*footer-------------------------*/

    .info-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
 
    .pte1{
     border-right: 1px solid var(--white-color);
    }
 
    .info-pte{
        padding: 0 10px;
    }
 
    .info img{
     width: 27px;
     }
 
    .loyal-text{
       height: 100%;
    }
 
    .social-media{
        border-top: none;
        border-left: 1px solid var(--white-color);
    }
 
    .social-media img{
     width: 32px;
     margin: 0 10px;
     }
 
    footer{
        grid-template-rows: 100%;
        grid-template-columns: 55% auto auto; 
        grid-template-areas: "info-footer loyal-text social-media";
    }
 }
 
 @media screen and (min-width: 1024px){

    /*Adopción*/

    .adoption-galery{
        display: grid;
        row-gap: 15px;
    }
    
    .pet{
        border: 1px solid var(--dark-color);
        border-radius: 10px;
        width: 90%;
        margin: auto;
        height: 300px;
        background-color: #3b4fcd;
    }

     footer{
         font-size: 14.5px;
     }
 
     .info-pte{
         width: 100%;
         display: flex;
         flex-direction: column;
     }
 
     .info img{
         width: 30px;
     }
 
     .social-media img{
         width: 40px;
         margin: 0 15px;
     }
 }
 
 @media screen and (min-width: 1200px){

    /*Adoption----------------------*/

    .pet{
        width: 90%;
        margin: auto;
        height: 360px;
        background-color: #3bcd58;
    }

    .info-pet{
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

     .info-pte{
         padding: 0 5%;
     }
 }